/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
h1{
	font-family: 'Times New Roman', 'serif';
	font-weight: bold;
	color: #939393;
}
h2{
	font-family: 'Times New Roman', 'serif';
	
	color: #747474;
}
h3{
	font-family: 'Times New Roman', 'serif';
	color: #3E81DF;
}
p{
	font-family: 'Times New Roman', 'serif';
	color: #20222a;
}
#container a{
	color: #3E81DF;

}
footer p{
	color: #939393;
}
body{
	margin: 20px;
}