
Body{
	font-size: 12px;
	height: 17px;
	font-family: 'Times New Roman', serif;
	color:#656565;
	margin: 5%;
	*vertical-align: middle; /* 3 */
	align-self:  center;
	float: none;
}

h1{
	color: #a1a1a1;
	font-family: 'Times New Roman', serif;
}
h3, a{
	color: #4985c9;
	
}
a:hover{
color: #20222a;
}
p{
	line-height: 20px;
}
footer img{
	
	border: 3px solid #c0c0c0;
	width: 20%;
    height: auto;
}