body{
     margin: 0 auto;
     background-image: url('../images/background.jpg');
     background-color: #d6d6d6;
     color: #000;
     background-repeat: repeat-x;
}

a{
     color: #cc6633;
     text-decoration: none;
}
header{
     text-align: center;
}

.right-column{
     width: 280px;
     float: right;
}

h2{
     margin: 10px;

}

.left-column{
     width: 640px;
     float: left;
     margin: 5px 10px;

}




.container{
     width: 940px;
     margin: 50px auto;
     background-color: #fff;

}
