/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
html{
     background-color: rgba(128, 128, 128, 0.459);
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
header{
     background-image: url('https://raw.githubusercontent.com/ship-of-the-desert/hw_week_02_day_01_CSS/master/ecardly/images/background.jpg');
     background-repeat: repeat-x;
    
}
.img2{
          margin: 0% 38% ;

}

.clear {
	clear: both;
}
section{
     background-color: white;
     width: 70%;
     margin: auto;
     padding-bottom: 30px;
}
h3{
     padding: 40px 15px 0px 15px ;

}
p{
     float: right;
     width: 31%;
     font-size: 13px;
     margin: auto;
     padding-right: 8px;
}
.img3{
     padding-left: 20px;
  

}
a{
     font-size: 15px;
     color:red;
     text-decoration: none;
}
footer{
     margin: 150px;
}