#wrapper {
    background-image: url("images/bg_wrapper.jpg");  
}
#container {
    
    width:80%;
 
    
    margin: 0 auto;

}
body{
    margin: 0 auto;
    /* margin: 10px auto; */
    background-image: url("images/bg_body.jpg");
   
   
}
header{
    background-color:black;
    padding: 20px;

    margin: 0 auto;

} 
.clearfix {
    overflow: auto;
  }
nav{
    margin: 15px;
}
nav a{
    color:#cccccc;
    margin: 15px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-content {
    margin: 0 auto;

}
#social-media {
    float: right;
  padding: 2px;
    
}

.photobanner {
   
   

}
.display-left{
 
    /* display: inline; */
    float: left;
    width: 60%;
   
 }
#display-right{
    /* display: inline; */
    float: right;
    text-align: justify;
  
    width: 20%;
  
    
 }
 p{
    font-size: 15px;
 }
section{
    margin: 2% 19% 2% 18%;
}
.imageshadow{

      
    z-index: 1; /* hide shadow behind image */
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  
    
}


#blurb{
    border-width:3px;  
    border-style:inset;

    background-image: url("https://raw.githubusercontent.com/ship-of-the-desert/hw_week_02_day_01_CSS/master/busyhands/images/bg_blurb.jpg"); 

} 


#home-boxes {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    
}
.imgBox{
    border: 3px solid white;
}
    .home-box1{
        overflow: auto;
        float: left;        
        width: 30%;
    }
    .home-box2{
        overflow: auto;
text-align: center; 
width: 30%;  
    }
    .home-box3{
        overflow: auto;
        float: right;
        width: 30%;

    }
footer{
background-color: black
}
    .box-footer {}
         .blogroll{}
    .box-footer {}
         .textwidget {}

#copyright {}
#companybottom {}