nav a{
    text-decoration: none;
    padding: 20px 10px;
    padding-top: 20;
    width: 50%;
    color: white;
}
nav{
    background-color: black;
    height: 50px;
    margin-top: 0 auto;
}
.logo{
    border-block-end-width: 20%;
}
.social {
    float: right;
    margin-top:0px;
    border-block-end-width: 20px;

}
.clearfix {
    float: auto;
  }
  header{
      background-image: url("images/bg_body.jpg");
      height: 50%;
      
    
  }
  body p{
      float: left;
      width: 70%;

  }
  button{
      float: right;
      background-color:blue;
      color: white;
      padding: 15px 32px;
  }
  h3{
      float: left;
      padding-right: 100px;
      margin-left: 0 auto;

  }
#homeBox ul{
    list-style: none;
    text-align: left;
    display: inline-block;
    padding-bottom: 10px;
}
#homeBox ul li{
    margin: 10px 0px;
    display: inline-block;
    padding: 20px 120px;
    
}

#homeBox ul img{
    padding-right: 70px;
    height: 100px;
}
#homeBox ul p{
    width :30%;
    padding-right: 30px;
    

}
